body {
  margin: 0;
  padding: 0;
  text-align: justify;
  font-family: 'メイリオ','游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic,
    'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', Meiryo,
    'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.App-mainwrapper-2 {
  animation: fadeIn 1s ease 0s 1 normal;
  -webkit-animation: fadeIn 1s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
